<main class="main">
	{{#with data}}
	<div class="main__content">
		<h1 class="title title--center">Add to playlist</h1>

		<ul class="track__list track__list--light-bg">
			{{#each tracks}}
			<li class="track">
				<img src="{{image}}" alt="{{name}}" height="92px" width="92px">
				<div class="track__content">
					<strong class="track__name">{{name}}</strong>
					<em class="track__author">{{author}}</em>
				</div>

				<form method="POST" action="/spotify-track-add?playlistId={{../playlistId}}&trackId={{id}}"
					class="form">
					<button><img src="/svg/add_track_button.svg"></button>
				</form>

			</li>
			{{/each}}
		</ul>


	</div>
	{{/with}}
</main>