<main class="main">
	{{#with data}}
	<div class="main__content">
		<h1 class="title title--center">Search playlist</h1>



		<form id="spotify-search-form" method="POST" action="/spotify-search" class="search">
			<img src="/svg/spotify-search.svg">
			<input id="search-input" type="search" class="search__input" placeholder="Enter a playlist name"
				name="value" value="{{value}}">
			<button id="search-button" type="submit" class="search__button">Search</button>
		</form>

		<ul class="playlist__list">
			{{#each list}}
			<a href="/spotify-playlist?playlistId={{id}}">
				<li class="playlist">
					<img src="{{image}}" alt="{{name}}" height="100px">
					<div class="playlist__content">
						<strong class="playlist__name">{{name}}</strong>
						<span class="playlist__amount">Number of songs: {{amount}}</span>
					</div>
				</li>
			</a>
			{{/each}}
		</ul>


	</div>
	{{/with}}
</main>